.itemCount{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: #f0f8ff;
}
.itemCount .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
