.item-detail-container{
    background-color: #282c34;
    width: 800px;
    height: 500px;
    border-radius: 15px;
    margin: 130px 20px 20px 20px;
    box-shadow: 0 10px 17px 0 rgba(0,0,0,0.75);
}
